# <a id='0'>Team_5:Movies Recommender System  Solution</a>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Team_5:Movies-Recommender-System--Solution" data-toc-modified-id="Team_5:Movies-Recommender-System--Solution-1"><span class="toc-item-num">1&nbsp;&nbsp;</span><a id="0">Team_5:Movies Recommender System  Solution</a></a></span></li><li><span><a href="#Introduction" data-toc-modified-id="Introduction-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Introduction</a></span><ul class="toc-item"><li><span><a href="#Overview" data-toc-modified-id="Overview-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Overview</a></span></li><li><span><a href="#Problem-Statement" data-toc-modified-id="Problem-Statement-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Problem Statement</a></span></li></ul></li><li><span><a href="#Comet-Experiment" data-toc-modified-id="Comet-Experiment-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Comet Experiment</a></span></li><li><span><a href="#Loading-Dependencies" data-toc-modified-id="Loading-Dependencies-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Loading Dependencies</a></span><ul class="toc-item"><li><span><a href="#Import-the-libraries" data-toc-modified-id="Import-the-libraries-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Import the libraries</a></span></li><li><span><a href="#Loading-the-data" data-toc-modified-id="Loading-the-data-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Loading the data</a></span></li><li><span><a href="#Data-description" data-toc-modified-id="Data-description-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Data description</a></span></li></ul></li><li><span><a href="#Exploratory-Data-Analysis" data-toc-modified-id="Exploratory-Data-Analysis-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Exploratory Data Analysis</a></span></li><li><span><a href="#Data-Preprocessing" data-toc-modified-id="Data-Preprocessing-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Data Preprocessing</a></span></li><li><span><a href="#Modelling" data-toc-modified-id="Modelling-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Modelling</a></span></li><li><span><a href="#Conclusion" data-toc-modified-id="Conclusion-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Conclusion</a></span></li><li><span><a href="#References" data-toc-modified-id="References-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>References</a></span></li></ul></div>

# Introduction

## Overview

On the internet, where the number of choices is overwhelming, there is a need to filter, prioritize and efficiently deliver relevant information in order to reduce the problem of information overload, which has created a potential problem to many Internet users. Recommender systems solve this problem by searching through large volume of dynamically generated information to provide users with personalized content and services.

Recommender systems are information filtering systems that deal with the problem of information overload by filtering vital information fragment out of large amount of dynamically generated information according to user’s preferences, interest, or observed behaviour about item. Recommender system has the ability to predict whether a particular user would prefer an item or not based on the user’s profile.

Recommender systems are beneficial to both service providers and users. They reduce transaction costs of finding and selecting items in an online shopping environment. Recommendation systems have also proved to improve decision making process and quality.

## Problem Statement

The aim of this project is to create a recomenderrecommendation algorithm based on content or collaborative filtering, capable of accurately predicting how a user will rate a movie they have not yet viewed based on their historical preferences.

# Comet Experiment

# Loading Dependencies

## Import the libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from scipy.cluster.hierarchy import linkage,dendrogram
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from sklearn.decomposition import PCA
from sklearn.decomposition import NMF
from sklearn.manifold import TSNE
from sklearn.feature_extraction.text import TfidfVectorizer
#from yellowbrick.cluster import KElbowVisualizer

from surprise.reader import Reader
from surprise.dataset import Dataset
from surprise import SVD, SVDpp, SlopeOne, NMF, NormalPredictor
from surprise import KNNBaseline, KNNBasic, KNNWithMeans, KNNWithZScore
from surprise import BaselineOnly, CoClustering
from surprise.model_selection import cross_validate, train_test_split
from surprise import accuracy

import numpy as np 
import pandas as pd

import scipy as sp 
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
import cufflinks as cf
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.decomposition import PCA
from surprise.model_selection import train_test_split
from surprise.model_selection import cross_validate

import operator 
import heapq 
#import xgboost as xgb
from surprise import Reader, Dataset
from surprise import BaselineOnly
from surprise import KNNBaseline
from surprise import KNNWithMeans
from surprise import SVD
from surprise import SVDpp
from surprise.model_selection import GridSearchCV

#other libraries
from IPython.core.display import HTML
from IPython.display import YouTubeVideo
from collections import defaultdict
import datetime
import re
from IPython.display import display_html

import warnings
warnings.filterwarnings('ignore')

C:\Users\Christian-Khane\Anaconda3\lib\site-packages\sklearn\utils\validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

## Loading the data

In [2]:
genome_scores = pd.read_csv('genome_scores.csv')
genome_tags = pd.read_csv('genome_tags.csv')
imdb = pd.read_csv('imdb_data.csv')
links = pd.read_csv('links.csv')
movies = pd.read_csv('movies.csv')
tags = pd.read_csv('tags.csv')
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')
sample_submission = pd.read_csv('sample_submission.csv')

## Data description

* genome_scores.csv - a score mapping the strength between movies and tag-related properties.
* genome_tags.csv - user assigned tags for genome-related scores.
* imdb_data.csv - Additional movie metadata scraped from IMDB using the links.csv file.
* links.csv - File providing a mapping between a MovieLens ID and associated IMDB and TMDB IDs.
* sample_submission.csv - Sample of the submission format for the hackathon.
* tags.csv - User assigned for the movies within the dataset.
* test.csv - The test split of the dataset. Contains user and movie IDs with no rating data.
* train.csv - The training split of the dataset. Contains user and movie IDs with associated rating data.

# Exploratory Data Analysis

### Data

#### An overview of the data we are working with

In [3]:
print("Shape of train data: ", train.shape)
train.head()

Shape of train data:  (10000038, 4)

   userId  movieId  rating   timestamp
0    5163    57669     4.0  1518349992
1  106343        5     4.5  1206238739
2  146790     5459     5.0  1076215539
3  106362    32296     2.0  1423042565
4    9041      366     3.0   833375837

In [4]:
print("Shape of test data: ", test.shape)
test.head()

Shape of test data:  (5000019, 2)

   userId  movieId
0       1     2011
1       1     4144
2       1     5767
3       1     6711
4       1     7318

In [5]:
from IPython.display import display_html
from itertools import chain,cycle
def display_tabs(*args, titles=cycle([''])):
    ht = ''
    for d, title in zip(args, chain(titles,cycle(['</br>']))):
        ht += '<th style = "text-align:center"><td style = "vertical-align:top">'
        ht += f'<h4>{title}</h4>'
        ht += d.to_html().replace('table', 'table style = "display:inline"')
        ht += '</td></th>'
    display_html(ht, raw = True)

In [6]:
display_tabs(genome_scores.head(),
             genome_tags.head(),
             imdb.head(),
             links.head(),
             movies.head(),
             tags.head(),
             sample_submission.head(),
             titles = ['Genome_Scores', 'Genome_tags', 'IMBD', 'Links', 'Movies', 'Tags', 'Sample'])

In [22]:
print('Train Data:')
print('=================')
print(train.info())
print('=================\n')

print('Test Data:')
print('=================')
print(test.info())
print('=================\n')

print('Genome Scores Data:')
print('=================')
print(genome_scores.info())
print('=================\n')

print('Genome Tags Data:')
print('=================')
print(genome_tags.info())
print('=================\n')

print('IMDB Data:')
print('=================')
print(imdb.info())
print('=================\n')

print('Links Data:')
print('=================')
print(links.info())
print('=================\n')

print('Movies Data:')
print('=================')
print(movies.info())
print('=================\n')

print('Tags Data:')
print('=================')
print(tags.info())
print('=================\n')

print('Sample Data:')
print('=================')
print(sample_submission.info())
print('=================')

Train Data:
=================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000038 entries, 0 to 10000037
Data columns (total 4 columns):
userId       int64
movieId      int64
rating       float64
timestamp    int64
dtypes: float64(1), int64(3)
memory usage: 305.2 MB
None
=================

Test Data:
=================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000019 entries, 0 to 5000018
Data columns (total 2 columns):
userId     int64
movieId    int64
dtypes: int64(2)
memory usage: 76.3 MB
None
=================

Genome Scores Data:
=================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15584448 entries, 0 to 15584447
Data columns (total 3 columns):
movieId      int64
tagId        int64
relevance    float64
dtypes: float64(1), int64(2)
memory usage: 356.7 MB
None
=================

Genome Tags Data:
=================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1128 entries, 0 to 1127
Data columns (total 2 columns):
tagId    1128 non-null int64
tag      1128 non-null object
dtypes: int64(1), object(1)
memory usage: 17.7+ KB
None
=================

IMDB Data:
=================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 6 columns):
movieId          27278 non-null int64
title_cast       17210 non-null object
director         17404 non-null object
runtime          15189 non-null float64
budget           7906 non-null object
plot_keywords    16200 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.2+ MB
None
=================

Links Data:
=================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
movieId    62423 non-null int64
imdbId     62423 non-null int64
tmdbId     62316 non-null float64
dtypes: float64(1), int64(2)
memory usage: 1.4 MB
None
=================

Movies Data:
=================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
movieId    62423 non-null int64
title      62423 non-null object
genres     62423 non-null object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB
None
=================

Tags Data:
=================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1093360 entries, 0 to 1093359
Data columns (total 4 columns):
userId       1093360 non-null int64
movieId      1093360 non-null int64
tag          1093344 non-null object
timestamp    1093360 non-null int64
dtypes: int64(3), object(1)
memory usage: 33.4+ MB
None
=================

Sample Data:
=================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000019 entries, 0 to 5000018
Data columns (total 2 columns):
Id        object
rating    float64
dtypes: float64(1), object(1)
memory usage: 76.3+ MB
None
=================

### Missing Values

In [24]:
print("Train: ")
print(str(train.isnull().sum()))
print("===================================\n")
print("Test: ")
print(str(test.isnull().sum()))
print("===================================\n")
print("Movies: ")
print(str(movies.isnull().sum()))
print("===================================\n")
print("Tags: ")
print(str(tags.isnull().sum()))
print("===================================\n")
print("Links: ")
print(str(links.isnull().sum()))
print("===================================\n")
print("IMDB: ")
print(str(imdb.isnull().sum()))
print("===================================\n")
print("Genome scores: ")
print(str(genome_scores.isnull().sum()))
print("===================================\n")
print("Genome tags: ")
print(str(genome_tags.isnull().sum()))

Train:
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64
===================================

Test:
userId     0
movieId    0
dtype: int64
===================================

Movies:
movieId    0
title      0
genres     0
dtype: int64
===================================

Tags:
userId        0
movieId       0
tag          16
timestamp     0
dtype: int64
===================================

Links:
movieId      0
imdbId       0
tmdbId     107
dtype: int64
===================================

IMDB:
movieId              0
title_cast       10068
director          9874
runtime          12089
budget           19372
plot_keywords    11078
dtype: int64
===================================

Genome scores:
movieId      0
tagId        0
relevance    0
dtype: int64
===================================

Genome tags:
tagId    0
tag      0
dtype: int64

### Data Summary
#### and handling missing values

### Tags

In [36]:
for i, j, k in tags.iterrows:
    if tags['tag'].isnull == True:
        tags[i]

TypeError: 'method' object is not iterable

# Data Preprocessing

# Modelling

# Conclusion

# References